name: publish-npm

on:
  release:
    types:
      - published

permissions:
  id-token: write # Required for OIDC
  contents: read

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  js:
    name: JavaScript
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: setup bun
        uses: oven-sh/setup-bun@v2
        with:
          registries: |
            https://registry.npmjs.org/

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: build
        run: make build

      - name: Publish to npm
        run: bunx npm publish --provenance # workaround for bun not supporting trusted publishing of npm (https://github.com/oven-sh/bun/issues/15601)
        if: github.event_name == 'release'
